
.ai/
.claude/
.cursor/
Custom-API-Endpoint.postman_collection.json
.DS_Store
.env
.junie/
llms.txt
*.log
node_modules/
PaxHeaders/
/test-results/
themes-template/
Thumbs.db
/tmp/
vendor/
/wp-api-proxy.php
/wp-cli.phar
/wp-config.phpad-inserter
/wp-content/*
/wp-content/cache/
/wp-content/debug.log
/wp-content/languages/
!/wp-content/mu-plugins/
/wp-content/object-cache.php
!/wp-content/plugins/
/wp-content/plugins/akismet/
/wp-content/plugins/hello.php
/wp-content/plugins/index.php
/wp-content/plugins/wordpress-seo/
!/wp-content/themes/
/wp-content/themes/twenty*/
/wp-content/themes/twentytwentyfive/
/wp-content/upgrade/
/wp-content/uploads/
/wp-includes/
*.zip
wp-content/plugins/ad-inserter/
