/wp-content/cache/
/wp-content/uploads/
/wp-content/object-cache.php
/wp-content/upgrade/
/wp-content/debug.log

node_modules/
vendor/

*.log

.env
.DS_Store
Thumbs.db

.ai/
.claude/
.cursor/
.junie/
PaxHeaders/

/wp-includes/

/wp-content/*
!/wp-content/themes/
!/wp-content/plugins/
/wp-content/themes/twentytwentyfive/
/wp-content/themes/twenty*/
/wp-content/plugins/index.php
/wp-content/plugins/wordpress-seo/

themes-template/
*.zip

/wp-api-proxy.php
Custom-API-Endpoint.postman_collection.json
llms.txt
/tmp/